/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	color: #7D7987;
	line-height: 1.75;
	font-size: 16px;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 600;
	color: #1F1F1F;
	line-height: 117%;
}
.h1{
	font-size: 48px;
}
.h2{
	font-size: 36px;
}
.h3{
	font-size: 24px;
}


.btn{
	font-size: 18px;
	padding: 20px 40px;
	text-decoration: none;
}
.btn-sm{
	font-size: 18px;
	padding: 10px 20px;
	text-decoration: none;
}
.btn-primary{
	background-color: #E05B1A ;
	color: white;
	border-radius: 55px;
}
.btn-outline{
	background: transparent;
	color:#E05B1A ;
	border-radius: 55px;
	border: 1.4px solid #E05B1A;
}
.btn-outline-2{
	background: transparent;
	color:white ;
	border-radius: 45px;
	border: 1.4px solid white;
}
.bg-white{
	background: white !important;
}

.text-primary{
	color:#E05B1A ;
}
.text-second{
	color:#1F1F1F ;
}
.text-white{
	color: white;
}
.subtitle{
	font-weight: 500;
	font-size: 18px;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.text-justify{
	text-align: justify;
}
.bg-primary{
	background: #62D074;
}
.bg-secondary{
	background: #35CCD6;
}
.bg-error{
	background: #FF0A0A
}
.bg-success{
	background: #25C9AB;
}
.container-fluid{
	width: 100%;

}
.container{
	width: 1140px;
	margin: 0 auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.column{
	display: flex;
	flex-direction: column;
}

.row>[class*="col-"]{
	padding: 16px;
}

.g-0>[class*="col-"]{
	padding: 0 !important;
}
.justify-between{
	justify-content:space-between ;
}

.justify-start{
	justify-content: flex-start;
}
.justify-center{
	justify-content:center ;
}
.justify-end{
	justify-content: flex-end ;
}
.align-center{
	align-items: center;
}
.align-s-center{
	align-self: center;
}

.align-s-end{
	align-self: flex-end;
}

.col-1{
	width: 8.33%
}
.col-2{
	width: 16.66%
}
.col-3{
	width: 25%
}
.col-4{
	width: 33.33%;
}
.col-5{
	width: 41.66%
}
.col-6{
	width: 50%
}
.col-7{
	width: 58.33%
}
.col-8{
	width: 66.66%
}
.col-9{
	width: 75%
}
.col-10{
	width: 83.33%
}
.col-11{
	width: 91.66%
}
.col-12{
	width: 100%;
}
.p-0{
	padding: 0 !important;
}
.p-1{
	padding: 8px;
}
.p-2{
	padding: 16px;
}
.p-4{
	padding:32px ;
}
.pt-1{
	padding-top: 8px;
}
.pb-1{
	padding-bottom: 8px;
}
.ps-1{
	padding-left: 8px;
}
.pe-1{
	padding-right: 8px;
}
.px-1{
	padding: 0 8px;
}
.py-1{
	padding: 8px 0;
}
.px-2{
	padding:0 16px;
}
.py-1{
	padding: 8px 0px;
}
.py-4{
	padding: 32px 0px;
}
.py-5{
	padding: 40px 0px;
}
.py-9{
	padding: 56px 0px;
}
.pt-9{
	padding: 56px 0px;
}
/*margin*/
.m-1{
	margin: 8px;
}
.mt-1{
	margin-top:8px;
}
.mt-4{
	margin-top:32px;
}

.mt-20{
	margin-top:80px;
}
.mb-1{
	margin-bottom: 8px;
}
.mb-4{
	margin-bottom: 32px;
}
.mb-7{
	margin-bottom: 56px;
}
.ms-1{
	margin-left: 8px;
}
.me-1{
	margin-right:8px
}
.mx-1{
	margin: 0 8px;
}
.my-1{
	margin:8px 0;
}
.my-2{
	margin:16px 0;
}
.my-3{
	margin:24px 0;
}
.mx-auto{
	margin: 0 auto;
}
.ml-4{
	margin-left: -32px;
}
.mr-4{
	margin-right: -32px;
}
.ml-2{
	margin-left: 16px;
}